@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Prompt", sans-serif;
    display: flex;
    background-color: #89B9AD;

}

header {
    padding: 10px;
    display: flex;
    background-color: #31544E;
    justify-content: center;
}

.menu {
    display: contents;
    width: 100%;
    height: 30px;
    background-color: #31544E;
    color: #fff;

}

#bx-buscador {
    background-color: transparent;
    border: 2px solid #31544E;
    padding: 2px 2px;
    border-radius: 50px;
    font-family: "promt", sans-serif;
    font-size: 18px;
    color: #fff;
    justify-content: flex-start;
}

#buscador:focus {
    outline: 0;
    background-color: #12211F;
}

#buscador::placeholder {
    color: #fff;
}

.bx {
    font-size: 18px;
}

#contenedor-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;

}

#contenedor-cards div {
    flex: 4;
    flex-direction: row;
    width: 250px;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    letter-spacing: 0.5;
    background-color: #31544E;

}

#contenedor-cards div img {
    box-shadow: 0px 10px, 6px, -6px rgba(6, 4, 12, 0.801);
    max-width: 250px;
}

h3,h4,ul {
    color: #fff;
}

.contenedor-cards .movie:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.vistaTarjeta {
    min-height: 100vh;
    background-image: url('IMG_URL + movie.poster_path');
    background-color: rgba(255, 255, 255, 0.5); /* Color blanco con 50% de opacidad */
    background-size: cover;

}

.cara-posterior {

    min-height: 100vh;
    display: grid;
    grid-template-columns: 480px 1fr;
    grid-gap: 32px;
    backdrop-filter: blur(12px) contrast(80%);
    color: #fff;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 32px;

}

.img1 {
    width: 480px;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.title1 {
    font-size: 64px;
    font-weight: bold;
}

.title1.fecha1 .votación .resumen {
    display: inline-block;
    margin-right: 64px;
    font-size: 22px;
}

.resumen {
    line-height: 24px;
}